@model DershaneTakipSistemi.Models.Odeme

@{
    ViewData["Title"] = "Details";
}

<h1>Öğrenci Detayları</h1
<div>
    <h4>Öğrenci Bilgileri</h4>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdemeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdemeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OgrenciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OgrenciId)
        </dd>
    </dl>
</div>
<div>
<a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>
<a asp-action="Index">Listeye Geri Dön</a></div>
